<script>
  jQuery(function($){ 
        $('#group1 > div.rthumbnail').responsivegallery()
  })
</script>

<section class="container">
  <div class="jumbotron elegant">
    <h2>Check out our gallery!</h2>
    <h3>Rooms</h3>
    <div id="group1">
      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/room1_thumb.jpg"), 
                    image_path("pictures/room1.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>
  
      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/room2_thumb.jpg"), 
                    image_path("pictures/room2.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/room3_thumb.jpg"), 
                    image_path("pictures/room3.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/room4_thumb.jpg"), 
                    image_path("pictures/room4.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/room5_thumb.jpg"), 
                    image_path("pictures/room5.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/room6_thumb.jpg"), 
                    image_path("pictures/room6.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/room7_thumb.jpg"), 
                    image_path("pictures/room7.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/room8_thumb.jpg"), 
                    image_path("pictures/room8.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/room9_thumb.jpg"), 
                    image_path("pictures/room9.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/room10_thumb.jpg"), 
                    image_path("pictures/room10.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>
    </div>
    <h3>Facilities</h3>
    <div id="group1">
      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/facilities1_thumb.jpg"), 
                    image_path("pictures/facilities1.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/facilities2_thumb.jpg"), 
                    image_path("pictures/facilities2.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/facilities3_thumb.jpg"), 
                    image_path("pictures/facilities3.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/facilities4_thumb.jpg"), 
                    image_path("pictures/facilities4.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/facilities5_thumb.jpg"), 
                    image_path("pictures/facilities5.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/facilities6_thumb.jpg"), 
                    image_path("pictures/facilities6.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>
    </div>
    <h3>Activities</h3>
    <div id="group1">
      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/activities1_thumb.jpg"), 
                    image_path("pictures/activities1.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/activities2_thumb.jpg"), 
                    image_path("pictures/activities2.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/activities3_thumb.jpg"), 
                    image_path("pictures/activities3.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/activities4_thumb.jpg"), 
                    image_path("pictures/activities4.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/activities5_thumb.jpg"), 
                    image_path("pictures/activities5.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/activities6_thumb.jpg"), 
                    image_path("pictures/activities6.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/activities7_thumb.jpg"), 
                    image_path("pictures/activities7.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/activities8_thumb.jpg"), 
                    image_path("pictures/activities8.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/activities9_thumb.jpg"), 
                    image_path("pictures/activities9.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/activities10_thumb.jpg"), 
                    image_path("pictures/activities10.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/activities11_thumb.jpg"), 
                    image_path("pictures/activities11.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>
    </div>
    <h3>Events</h3>
    <div id="group1">
      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/events1_thumb.jpg"), 
                    image_path("pictures/events1.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/events2_thumb.jpg"), 
                    image_path("pictures/events2.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/events3_thumb.jpg"), 
                    image_path("pictures/events3.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/events4_thumb.jpg"), 
                    image_path("pictures/events4.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/events5_thumb.jpg"), 
                    image_path("pictures/events5.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>
    </div>
    <h3>Nature</h3>
    <div id="group1">
      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/nature1_thumb.jpg"), 
                    image_path("pictures/nature1.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/nature2_thumb.jpg"), 
                    image_path("pictures/nature2.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/nature3_thumb.jpg"), 
                    image_path("pictures/nature3.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>

      <div class="rthumbnail">
        <%= link_to( image_tag("thumbnails/nature4_thumb.jpg"), 
                    image_path("pictures/nature4.jpg")) %>
        <div class="rcaption">Caption text</div>
      </div>
    </div>
  </div>
</section>