<div class="container">
  <h1>Book your stay!</h1>

  <div class="row">
    <div class="col-xs-6 signup-form">
      <%= form_for(@reservation) do |f| %>
        <%= render 'shared/reservations_error_messages' %>
        <div class="col-xs-6">
          <%= f.label :name, "Name*" %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :email, "Email*" %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :checkin, "Checkin*" %>
          <%= f.text_field :checkin, class: 'form-control' %>

          <div class="form-group">
            <%= f.label :room, "Select room" %>
            <%= f.select :room, options_for_select([['room 1', '1'], 
                                    ['room 2', '2'], ['room 3', '3'], 
                                    ['room 4', '4'], ['room 5', '5']], '1'),
                                    class: 'form-control' %>
          </div>
              
        </div>

        <div class="col-xs-6">
          <%= f.label :surname, "Surname*"%>
          <%= f.text_field :surname, class: 'form-control' %>

          <%= f.label :phone, "Phone" %>
          <%= f.text_field :phone, class: 'form-control' %>

          <%= f.label :checkout, "Checkout*" %>
          <%= f.text_field :checkout, class: 'form-control' %>

        </div>

        <%= f.submit "Book", 
        class: "btn btn-primary signup-button" %>
      <% end %>
    </div>
  </div>
</div>