<div class="container">
  <h1>Choose your room and book your stay!</h1>

  <%= link_to "Room1", reservation_path, 
              class: "room-links selected-room", name: "1", remote: true,
              data: {text_color: "#AE1212", font_style: "underline"} %>
  <%= link_to "Room2", room2_new_reservation_path, class: "room-links",
              name: "2", remote: true,
              data: {text_color: "#AE1212", font_style: "underline"} %>
  <%= link_to "Room3", room3_new_reservation_path, class: "room-links",
              name: "3", remote: true,
              data: {text_color: "#AE1212", font_style: "underline"} %>
  <%= link_to "Room4", room4_new_reservation_path, class: "room-links",
              name: "4", remote: true,
              data: {text_color: "#AE1212", font_style: "underline"} %>
  <%= link_to "Room5", room5_new_reservation_path, class: "room-links",
              name: "5", remote: true,
              data: {text_color: "#AE1212", font_style: "underline"} %>

  <div class="row">
    <div class="col-xs-6 signup-form">
      <%= render 'reservation_form' %>
    </div>
  </div>
</div>
