<!DOCTYPE html>
<html lang='en'>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Welcome to guesthouse_name!</title>

  <%= stylesheet_link_tag    'application', media: 'all', 
                                            'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    $(function () {
    // Scroll to function
      function scrollTo(ele) {
        $("html, body").animate({
            scrollTop: ($(ele).offset().top - $("header").outerHeight(true))
        });
      }

    // Detect location hash
      if (window.location.hash) {
        scrollTo(window.location.hash);
      }

    // Detect urlchange
      $(window).on('hashchange', function(e) {
        scrollTo(window.location.hash);
        e.preventDefault();
      });
    });
  </script>
  <%= render 'layouts/shim' %>
</head>

<body>

  <div class="page-space">
    <script>
      jQuery(function($){ // on DOM load
      $("#group1 > div.rthumbnail").responsivegallery()
      })
    </script>

    <%= render 'layouts/header' %>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>

  </div>
</body>
</html>
